@model GameReview.ViewModels.ViewGameGenreViewModel

    @{ 
        ViewBag.Title = Model.Genre.Type;
    }

<ul>
    @foreach (var gameGenre in Model.Games)
    {
        <li>@gameGenre.Game.Title</li>

    }
</ul>

@if (Model.Games.Count == 0)
{
    <p><i>No game genres yet</i></p>
}

<p><a asp-controller="Genre" asp-action="AddGame" asp-route-id="@Model.Genre.ID">Add Game</a></p>
